.sectionHome {
    margin-top: 20px;
    padding: 0 15px;
}

.cardContainer {
    display: flex;
    column-gap: 20px;
}

.cardForm {
    flex-basis: calc((100% - 20px) / 2);
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    padding: 50px 15px;
    background: #ffffff;
    border-radius: 20px;
    border: 1px solid #010379;
}

.cardForm__ladle {
    width: 60%;
    display: flex;
    flex-direction: column;
    color: #ff6f00;
}

.cardForm__input {
    border-radius: 20px;
    border-color: #010379;
    height: 40px;
    padding: 8px 20px;
}

.foodCart {
    flex-basis: calc((100% - 20px) / 2);
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    height: 400px;
    border-radius: 20px;
    border: 1px solid #010379;
    overflow: auto;
}

.bottomContainer {
    display: flex;
    column-gap: 60px;
    justify-content: flex-end;
    margin-top: 30px;
    margin-bottom: 50px;
    align-items: center;
}

.totalPriceNumber {
    font-weight: 600;
    color: #010379;
}

.submite {
    width: 150px;
    height: 50px;
    display: block;
    border: 0;
    color: #ffffff;
    background-color: #ff6f00;
    border-radius: 15px;
    font-weight: 700;
    cursor: pointer;

    &:hover {
        color: #010379;
    }
}