.sidebar {
    display: flex;
    position: fixed;
    flex-direction: column;
    row-gap: 15px;
    justify-content: center;
    align-items: center;
    padding: 20px 15px;
    background: #ffffffd0;
    border-radius: 20px;
}

.sidebarItem__btn {
    display: flex;
    width: 130px;
    height: 30px;
    justify-content: center;
    align-items: center;
    border: 0;
    color: #ffffff;
    text-decoration: none;
    background-color: #ff6f00;
    border-radius: 15px;
    cursor: pointer;

    &:hover {
        color: #010379;
        ;
    }
}