.comentsSection {
    width: 550px;
    height: calc(100vh - 110px);
    position: relative;
    padding: 30px 15px 15px 35px;
    margin: auto;
    overflow: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}